header {
  font-size: 100px;
  font-family: sans-serif;
  background-color: rgba(100, 100, 100, 1);
  text-align: center;
  padding: 15px;
  margin: 0 0 50px 0;
  font-family: 'Codystar', cursive;
  color: white;
}

.container {
  margin: 0 auto;
  width: 456px;
}

.row {
  clear: both;
}

.box {
  float: left;
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 125px;
  font-family: 'Codystar', cursive;
  background: -webkit-linear-gradient(lime, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.b {
  border-bottom: 3px solid black;
}

.r {
  border-right: 3px solid black;
}

.taken:active {
  background: rgba(255, 0, 255, 0.2);
}
