header {
  font-size: 70px;
  font-family: sans-serif;
  background-color: rgba(100, 100, 100, 1);
  text-align: center;
  padding: 15px;
  margin: 0 0 50px 0;
  font-family: 'Codystar', cursive;
  color: white;
}

.container {
  margin: 0 auto;
  width: 384px;
  padding-bottom: 150px;
  position: relative;
  text-align: center
}

.row {
  clear: both;
}

.box {
  float: left;
  width: 125px;
  height: 125px;
  text-align: center;
  font-size: 110px;
  font-family: 'Codystar', cursive;
  background: -webkit-linear-gradient(lime, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

.b {
  border-bottom: 3px solid black;
}

.r {
  border-right: 3px solid black;
}

.win {
  clear: both;
  text-align: center;
  font-size: 30px;
  font-family: 'Codystar', cursive;
  background: -webkit-linear-gradient(red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#results {
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  top: 90px;
  left: 90px;
  border: 2px solid black;
  background: white;
  z-index: 10;
  padding-top: 20px;
}

#newgame:hover {
  cursor: pointer;
}

#reset:hover {
  cursor: pointer;
}

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes fadeIn {
  0% {opacity: 0;}  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}  
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% {opacity: 0;}  
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}  
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

@media (max-width: 500px) {
header {
  font-size: 30px;
  font-family: sans-serif;
  background-color: rgba(100, 100, 100, 1);
  text-align: center;
  padding: 5px;
  margin: 0 0 10px 0;
  font-family: 'Codystar', cursive;
  color: white;
}

.container {
  margin: 0 auto;
  width: 306px;
  padding-bottom: 50px;
  position: relative;
  text-align: center
}

.row {
  clear: both;
}

.box {
  float: left;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 90px;
  font-family: 'Codystar', cursive;
  background: -webkit-linear-gradient(lime, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

.b {
  border-bottom: 3px solid black;
}

.r {
  border-right: 3px solid black;
}

.win {
  clear: both;
  text-align: center;
  font-size: 30px;
  font-family: 'Codystar', cursive;
  background: -webkit-linear-gradient(red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#results {
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  top: 51px;
  left: 51px;
  border: 2px solid black;
  background: white;
  z-index: 10;
  padding-top: 20px;
}
}
